<!DOCTYPE html>
<html>
<head>
	<title>Payment Page</title>
</head>
<script> 
	function numberOnly(id){
		var element = document.getElementById(id);
		element.value = element.value.replace(/[^0-9]/gi, "");
	}
</script>
<body style="font-size:150%;background-color:powderblue;color:#0033cc;font-family:verdana;">

	{% if user.is_authenticated %}
		<h1 align="center" style="font-size:150%;background-color:powderblue;color:#0033cc;font-family:verdana;">Hello, {{user.first_name}}</h1>
		<br>
		<div class="sign-up-form"> 
     	<form action="paymentsuccessful" method="post" align="center" >
		 {% csrf_token %}
     		Card Number<br>
     		<input type="text" name="card_num" style="font-size:90%;" minlength="12" id="card_num" placeholder="12 digit number" oninput="numberOnly(this.id);" required><br><br>
     		Expiry Date<br>
     		<select name="month" style="font-size:90%;" required>
     			<option value="">Month</option>
     			<option value="Jan(01)">Jan(01)</option>
     			<option value="Feb(02)">Feb(02)</option>
     			<option value="Mar(03)">Mar(03)</option>
     			<option value="Apr(04)">Apr(04)</option>
     			<option value="May(05)">May(05)</option>
     			<option value="Jun(06)">June(06)</option>
     			<option value="Jul(07)">July(07)</option>
     			<option value="Aug(08)">Aug(08)</option>
     			<option value="Sept(09)">Sep(09)</option>
     			<option value="Oct(10)">Oct(10)</option>
     			<option value="Nov(11)">Nov(11)</option>
     			<option value="Dec(12)">Dec(12)</option>
     		</select> 
     		<select name="year" style="font-size:90%;" required>
     			<option value="">Year</option>
     			<option value="2021">2021</option>
     			<option value="2022">2022</option>
     			<option value="2023">2023</option>
     			<option value="2024">2024</option>
     			<option value="2025">2025</option>
     			<option value="2026">2026</option>
     			<option value="2027">2027</option>
     			<option value="2028">2028</option>
     			<option value="2029">2029</option>
     			<option value="2030">2030</option>
     		</select>
     		<br><br>
     		CVV<br>
     		<input type="text" name="cvv"  style="font-size:90%;" id="cvv" maxlength="3" minlength="3" placeholder="***" oninput="numberOnly(this.id);" required> <br><br>
     		<input type="submit" style="font-size:90%;background-color:powderblue;color:#0033cc;font-family:verdana;" value="Make Payment"> 
     		<input type="button" style="font-size:90%;background-color:powderblue;color:#0033cc;font-family:verdana;" onclick="location.href='/' "value="Cancel">
     	</form>
     	</div>

	{% else %}
		<h1 align="center" style="font-size:90%;background-color:powderblue;color:#0033cc;font-family:verdana;">Please Login or Register</h1><br>
		<li align="center" style="font-size:90%;background-color:powderblue;color:#0033cc;font-family:verdana;"><a href="reglog/register">Register</a></li>
		<li align="center" style="font-size:90%;background-color:powderblue;color:#0033cc;font-family:verdana;"><a href="reglog/login">Login</a></li>
	{% endif %}

     
</body>
</html>